*{
    margin: 0px;
    box-sizing: border-box;
}
.header{
    margin-top: 20px;
    margin-left: 70px;
    /* border:2px solid blue; */
}
.header .task{
    font-weight:bolder;
    font-size:larger;
}
#list{
    color: rgb(10, 146, 200);
}
/* button code */
.btn-container{
    text-decoration: none;
    height: 100px;
    font-size:25px;
    padding: 10px;
    font-weight: bold;
    color:black;
    margin-right: 50px;
    margin-top: 40px;
}
#plus-btn{
    background-color:rgb(10, 146, 200);
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
#plus-btn a{
    font-size:40px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.plus-btn{
    float: right;
    margin-right:25%;
}
#back-btn{
    background-color:black;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;

}
#back-btn a{
    font-size:40px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.back-btn{
    float:left;
    margin-left:25%;
}
.btn-text{
    display: inline-block;
}
/* button code */
.filter{
    background-color: white;
    margin: 10px;
    filter: brightness(0.5);
}
.parent-container{
    background-color:rgb(249, 246, 246);
    width:100%;
    height:900px;
}
.subparent{
    clear: both;
    width: 100%;
    /* height: 693px; */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
#subparent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.child{
    width:300px;
    height:250px;
    background-color:white;
    border-radius:10px;
    margin: 10px;
}
.child:hover{
    box-shadow: -2px -2px 5px black;
}
#child1{
    width:400px;
    height:300px;

}
.headinh3{
    color: skyblue;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}
.child .hr{
    margin-top: 10px;
    margin-bottom: 10px;
    color:grey;
    width:100%;
}
.dialogbox{
    position: absolute;
    top:35%;
    left:34%;
    z-index: 1;
}
.addTaskbox{
    z-index:auto;
    border:10px solid grey;
    background-color:white;
    width: 400px;
    height:200px;
    position: relative;
    padding-top:30px;
    border-radius: 5px; 
}
.AddItem{
    float:left;
    margin-left: 5px;
}
.btn{
    float: right;
}
.button-x{
    float:right;
    padding:5px;
    margin-right: 3px;
    margin-bottom: 3px;
    border:none;
    background-color:white;
}
.button-x a{
    text-decoration:none;
    font-size: large;
    font-weight: bold;
}
.addTaskbox hr{
    color:grey;
    clear:both;
    margin-bottom: 5px;
}
.addTaskbox p{
    height:30px;
    background-color:whitesmoke;
    border-radius:3px;
    padding:10px;
    margin: 10px;
}
.addTaskbox .button-plus{
    background-color: skyblue;
    color:white;
    border:none;
    padding: 5px;
    position:absolute;
    right:5px;
    margin-top:10px;
}
.addTaskbox .button-plus a{
    text-decoration: none;
    color:white;
    padding:5px;
}
/* Media Query */
@media screen and (max-width:600px){
    .btn-text{
        display: none;
    }
    .btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .back-btn{
        margin-left:20px; 
        font-size:medium;
    }
    #back-btn{
        margin-top: 10px;
        margin-right: 10px;
    }
    #plus-btn{
        margin-top: 10px;
        margin-right: 100px;
    }
}
@media only screen and (max-width:600px) {
    .subparent {
        flex-direction:column;
    }
    .parent-container{
        height: 100%;
    }
    .child{
        width:97%;
        margin:10px;
    }
  }
@media screen and (max-width:600px){
    .dialogbox{
        width:96%;
        top:50%;
        left:10px;
    }
    .addTaskbox{
        width:96%;
        border:none;
        margin-left: 10px;
    }
}
